
@{
    ViewBag.Title = "Index";
}

<h2 style="color:darkorange">M<span style="color:black">ethod Result Page</span></h2>    

@model List<Double>
    
<table>
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(X => item);
        </td>
    </tr>
}
</table>
