
@{
    ViewBag.Title = "Index";
}

<h2 class="text-center">Method Result Page</h2>

    <table class="table table-hover">
        <tr>
            <th>Result</th>
            <td>@ViewData["Result"]</td>
        </tr>
        <tr>
            <th>ResultSecound</th>
            <td>@ViewData["ResultSecound"]</td>
        </tr>
    </table>

